<%= link_to "New Project", new_user_path %>


<<<<<<< HEAD
<<<<<<< HEAD

<h2>User Details </h2>
=======
<h2>User Details :D </h2>
>>>>>>> ca2ce8322b4c2541bba0add19198b6a86ce37f44
=======
<h2>User Details :D </h2>
>>>>>>> 4b88c29b75618e488e85965b7f58fa3c12c5781b
<ul>
  <% @users.each do |project| %>
    <li><%= link_to project.name, project %></li>
  <% end %>
  </ul>
<<<<<<< HEAD


 
=======
>>>>>>> 4b88c29b75618e488e85965b7f58fa3c12c5781b
